# Recommenders Project (Content-based & Collaborative)

# 1. Importing Libraries & Loading Data

In [1]:
# Import necessary libraries for mathematical operations and data manipulation
from math import sqrt
import pandas as pd
import numpy as np

# Suppress warnings for cleaner output
import warnings
warnings.filterwarnings('ignore')

C:\Users\User\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

# Load Movie and Rating Datasets

In [3]:
# Define file paths
movies_file = 'movies.csv'
ratings_file = 'ratings.csv'

# Load datasets
movies_df = pd.read_csv(movies_file)
ratings_df = pd.read_csv(ratings_file)

# 2. Data Preprocessing

# 2.1 Explore Movie Data

In [4]:
# Display first few rows of movies dataframe
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# 2.2 Clean Movie Titles and Extract Year

In [5]:
# Extract release year from title and clean title column
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '', regex=True)
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

# Display cleaned movie data
movies_df.head(10)

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995

# 2.3 Process Genre Information

In [6]:
# Convert genres string to list
movies_df['genres'] = movies_df['genres'].str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

# 2.4 One-Hot Encode Genres

In [7]:
# Create a copy for one-hot encoding
moviesWithGenres_df = movies_df.copy()

# Apply one-hot encoding for genres
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1

# Fill NaN values with 0 (genre not present)
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head(4)

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 2.5 Clean Ratings Data

In [8]:
# Explore ratings data
ratings_df.head()

# Remove timestamp column (not needed for our analysis)
ratings_df = ratings_df.drop('timestamp', axis=1)
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [8]:
#Cleaning the rartings file
ratings_df = ratings_df.drop('timestamp',axis = 1)
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

# 3. Content-Based Filtering

Content-based filtering recommends items similar to what the user has liked in the past based on item features.

# 3.1 Define User Preferences

In [9]:
# Define user input with movie ratings (scale: 0.5-5.0)
userInput = [
    {'title': 'Help!', 'rating': 3.5},
    {'title': 'Shutter Island', 'rating': 5},
    {'title': 'Spider-Man 2', 'rating': 2},
    {'title': "Prestige, The", 'rating': 4},
    {'title': 'Vertigo', 'rating': 4.5},
    {'title': 'Dark Knight, The', 'rating': 2.5},
    {'title': 'Forrest Gump', 'rating': 4},
    {'title': "What's Eating Gilbert Grape ", 'rating': 3},
    {'title': 'Memento', 'rating': 4.5},
    {'title': 'American Psycho', 'rating': 5},
    {'title': 'Fight Club', 'rating': 4.5}
]

# Convert to DataFrame
inputMovies = pd.DataFrame(userInput)
inputMovies

                           title  rating
0                          Help!     3.5
1                 Shutter Island     5.0
2                   Spider-Man 2     2.0
3                  Prestige, The     4.0
4                        Vertigo     4.5
5               Dark Knight, The     2.5
6                   Forrest Gump     4.0
7   What's Eating Gilbert Grape      3.0
8                        Memento     4.5
9                American Psycho     5.0
10                    Fight Club     4.5

# 3.2 Create User Profile Based on Genre Preferences

In [10]:
# Find movie IDs for user-rated movies
inputId = moviesWithGenres_df[movies_df['title'].isin(inputMovies['title'].tolist())]

# Merge with user ratings
userMovies = pd.merge(inputMovies, inputId)

# Drop unnecessary columns
userMovies = userMovies.drop('genres', axis=1).drop('year', axis=1)
userMovies

# Extract genre columns only
userGenreTable = userMovies.drop('rating', axis=1).drop('title', axis=1).drop('movieId', axis=1)
userGenreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3.3 Calculate Weighted User Profile

In [11]:
# Create weighted user profile based on ratings
userProfile = userGenreTable.transpose().dot(userMovies['rating'])
userProfile

Adventure              2.0
Animation              0.0
Children               0.0
Comedy                 7.5
Fantasy                0.0
Romance                8.5
Drama                 24.5
Action                 9.0
Crime                 12.0
Thriller              27.5
Horror                 5.0
Mystery               23.0
Sci-Fi                 6.0
War                    4.0
Musical                3.5
Documentary            0.0
IMAX                   4.5
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

# 3.4 Prepare Genre Matrix for All Movies

In [12]:
# Set movieId as index and keep only genre columns
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', axis=1).drop('title', axis=1).drop('genres', axis=1).drop('year', axis=1)
genreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3.5 Generate Content-Based Recommendations

In [13]:
# Calculate recommendation scores using dot product
recommendation_df = pd.DataFrame()
recommendation_df = ((genreTable * userProfile).sum(axis=1)) / (userProfile.sum())
recommendation_df.head()

# Sort by highest recommendation score
recommendation_df = recommendation_df.sort_values(ascending=False)
recommendation_df.head()

movieId
81132    0.806569
79132    0.777372
198      0.744526
26701    0.744526
31921    0.704380
dtype: float64

# 3.6 Display Top Content-Based Recommendations

In [15]:
# Show top 20 recommended movies
top_content_movies = movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(20).keys())]
print(f"Top {len(top_content_movies)} Content-Based Recommendations:")
top_content_movies[['title', 'genres', 'year']]

Top 20 Content-Based Recommendations:

,title,genres,year
167,Strange Days,"[Action, Crime, Drama, Mystery, Sci-Fi, Thriller]",1995
1526,"Negotiator, The","[Action, Crime, Drama, Mystery, Thriller]",1998
2109,"Pelican Brief, The","[Crime, Drama, Mystery, Romance, Thriller]",1993
3839,Insomnia,"[Action, Crime, Drama, Mystery, Thriller]",2002
4622,In the Cut,"[Crime, Drama, Mystery, Romance, Thriller]",2003
4654,21 Grams,"[Crime, Drama, Mystery, Romance, Thriller]",2003
4940,Man on Fire,"[Action, Crime, Drama, Mystery, Thriller]",2004
5327,Cellular,"[Action, Crime, Drama, Mystery, Thriller]",2004
5556,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,"[Action, Animation, Crime, Drama, Film-Noir, M...",1989
5569,Prime Suspect 2,"[Crime, Drama, Mystery, Romance, Thriller]",1992
5808,"Seven-Per-Cent Solution, The","[Adventure, Comedy, Crime, Drama, Mystery, Thr...",1976
7118,"Secret in Their Eyes, The (El secreto de sus o...","[Crime, Drama, Mystery, Romance, Thriller]",2009
7260,"Girl Who Played with Fire, The (Flickan som le...","[Action, Crime, Drama, Mystery, Thriller]",2009
7372,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010
7441,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
7736,"Double, The","[Action, Crime, Drama, Mystery, Thriller]",2011
8651,Blackhat,"[Action, Crime, Drama, Mystery, Thriller]",2015
8849,Kite,"[Action, Crime, Drama, Mystery, Thriller]",2014
9193,Sherlock: The Abominable Bride,"[Action, Crime, Drama, Mystery, Thriller]",2016
9411,Jack Reacher: Never Go Back,"[Action, Crime, Drama, Mystery, Thriller]",2016

# Interpretation:
The content-based filter recommends movies with similar genres to those the user rated highly (especially Thriller, Mystery, Crime, and Drama genres).

# Collaborative Filltering
Collaborative filtering recommends items based on the preferences of similar users.

# 4.1 Prepare Data for Collaborative Filtering

In [16]:
# Create simplified movies dataframe
movies_df2 = movies_df.drop('genres', axis=1)
movies_df2.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

# 4.2 Find Users with Similar Movie Ratings

In [18]:
# Find users who rated the same movies as our input user
userSubset = ratings_df[ratings_df['movieId'].isin(userMovies['movieId'].tolist())]

# Group by user and sort by number of common ratings
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup = sorted(userSubsetGroup, key=lambda x: len(x[1]), reverse=True)

# Select top 100 users with most common ratings
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(105,        userId  movieId  rating
  16231     105      356     3.5
  16243     105      903     4.0
  16320     105     2959     5.0
  16336     105     3535     3.5
  16377     105     4226     3.5
  16512     105     8636     3.5
  16605     105    48780     5.0
  16645     105    58559     3.5
  16699     105    74458     5.0), (249,        userId  movieId  rating
  36401     249      356     4.5
  36434     249      903     4.0
  36580     249     2959     5.0
  36604     249     3535     5.0
  36641     249     4226     5.0
  36779     249     8636     4.0
  36878     249    48780     3.5
  36950     249    58559     5.0
  37039     249    74458     5.0), (274,        userId  movieId  rating
  39300     274      356     4.5
  39716     274     2946     3.5
  39720     274     2959     5.0
  39791     274     3535     5.0
  39879     274     4226     4.5
  40167     274     8636     4.0
  40359     274    48780     3.5
  40444     274    58559     4.5
  40533     274    74458     4.5), (610,         userId  movieId  rating
  99559      610      356     3.0
  99587      610      903     5.0
  99699      610     2959     5.0
  99732      610     3535     4.5
  99810      610     4226     5.0
  100049     610     8636     5.0
  100220     610    48780     4.0
  100310     610    58559     4.5
  100429     610    74458     4.5), (68,        userId  movieId  rating
  10431      68      356     3.5
  10831      68     2959     2.5
  10896      68     3535     3.0
  10976      68     4226     4.0
  11176      68     8636     4.5
  11311      68    48780     3.5
  11404      68    58559     5.0
  11501      68    74458     3.0), (177,        userId  movieId  rating
  24939     177      356     5.0
  24988     177      903     4.0
  25221     177     2959     4.0
  25255     177     3535     4.0
  25448     177     8636     3.0
  25557     177    48780     4.5
  25610     177    58559     5.0
  25684     177    74458     5.0), (298,        userId  movieId  rating
  44560     298      356     3.0
  44711     298     2959     5.0
  44736     298     3535     3.5
  44791     298     4226     3.0
  44985     298     8636     2.5
  45079     298    48780     2.0
  45144     298    58559     3.5
  45239     298    74458     2.5), (305,        userId  movieId  rating
  45967     305      356     4.5
  45997     305      903     3.5
  46119     305     2959     4.5
  46136     305     3535     5.0
  46159     305     4226     3.5
  46292     305    48780     3.0
  46339     305    58559     5.0
  46420     305    74458     3.5), (414,        userId  movieId  rating
  62454     414      356     5.0
  62630     414      903     5.0
  63280     414     2959     5.0
  63442     414     3535     4.0
  63639     414     4226     5.0
  64318     414     8636     4.5
  64567     414    48780     4.5
  64693     414    58559     4.0), (596,        userId  movieId  rating
  91759     596      356     3.5
  91862     596     2959     4.0
  91877     596     3535     4.0
  91897     596     4226     4.5
  91957     596     8636     3.0
  91993     596    48780     4.0
  92004     596    58559     4.0
  92031     596    74458     3.5), (28,       userId  movieId  rating
  4223      28      356     4.0
  4378      28     2959     3.5
  4416      28     3535     4.0
  4444      28     4226     3.5
  4546      28     8636     3.0
  4639      28    48780     1.5
  4698      28    58559     3.5), (50,       userId  movieId  rating
  7118      50      356     3.0
  7129      50      903     4.0
  7189      50     2959     3.0
  7201      50     4226     3.0
  7277      50    48780     2.5
  7284      50    58559     3.0
  7300      50    74458     2.5), (63,       userId  movieId  rating
  9175      63      356     3.5
  9257      63     2959     5.0
  9266      63     3535     4.0
  9289      63     4226     3.5
  9364      63    48780     3.5
  9375      63    58559     5.0
  9386      63    74458     4.0), (103,        userId  movieId  rating
  15592     103      356     4.0
  15730     103     2959     5.0
  15741     103     3535     4.5
  15756     103     4226     5.0
  15808     103     8636     3.0
  15832     103    48780     4.5
  15843     103    58559     5.0), (111,        userId  movieId  rating
  17272     111      356     5.0
  17350     111     2959     5.0
  17367     111     3535     3.5
  17393     111     4226     3.5
  17555     111    48780     4.0
  17592     111    58559     4.0
  17647     111    74458     3.5), (219,        userId  movieId  rating
  31598     219      903     3.5
  31742     219     2959     4.5
  31769     219     3535     4.5
  31796     219     4226     5.0
  31911     219     8636     3.5
  31996     219    48780     4.5
  32035     219    58559     5.0), (232,        userId  movieId  rating
  33917     232      356     4.0
  34029     232     2959     4.5
  34040     232     3535     4.0
  34079     232     4226     5.0
  34301     232     8636     4.0
  34541     232    48780     4.5
  34640     232    58559     5.0), (288,        userId  movieId  rating
  42160     288      356     5.0
  42685     288     2946     3.0
  42690     288     2959     3.5
  42891     288     4226     4.5
  43048     288     8636     4.5
  43138     288    48780     3.5
  43154     288    58559     4.5), (334,        userId  movieId  rating
  51667     334      356     4.0
  51711     334     2959     3.5
  51716     334     3535     2.5
  51724     334     4226     3.5
  51776     334    48780     3.5
  51791     334    58559     3.0
  51807     334    74458     2.5), (339,        userId  movieId  rating
  52021     339      356     4.0
  52094     339     2959     4.0
  52105     339     3535     5.0
  52117     339     4226     4.5
  52211     339    48780     5.0
  52238     339    58559     3.0
  52271     339    74458     5.0), (352,        userId  movieId  rating
  53204     352      356     5.0
  53277     352     2959     5.0
  53293     352     3535     4.0
  53312     352     4226     5.0
  53350     352    48780     3.5
  53375     352    58559     3.5
  53404     352    74458     5.0), (380,        userId  movieId  rating
  56931     380      356     5.0
  57248     380     2959     4.0
  57302     380     3535     5.0
  57363     380     4226     5.0
  57584     380     8636     5.0
  57734     380    48780     5.0
  57789     380    58559     5.0), (387,        userId  movieId  rating
  59280     387      356     4.0
  59336     387      903     5.0
  59677     387     2946     3.5
  59682     387     2959     4.5
  59754     387     3535     4.5
  59825     387     4226     4.5
  60223     387    48780     4.5), (434,        userId  movieId  rating
  67105     434      356     4.5
  67203     434     2959     5.0
  67223     434     4226     5.0
  67263     434     8636     2.5
  67285     434    48780     4.0
  67295     434    58559     5.0
  67312     434    74458     4.5), (477,        userId  movieId  rating
  75457     477      356     5.0
  75510     477      903     3.5
  75758     477     4226     4.0
  75886     477     8636     4.0
  75944     477    48780     4.5
  75975     477    58559     4.5
  76015     477    74458     5.0), (480,        userId  movieId  rating
  76283     480      356     5.0
  76546     480     2946     3.0
  76549     480     2959     4.5
  76595     480     3535     3.0
  76659     480     4226     4.0
  76869     480     8636     5.0
  77049     480    48780     4.5), (573,        userId  movieId  rating
  88697     573      356     4.5
  88792     573     2959     5.0
  88814     573     4226     5.0
  88867     573     8636     4.0
  88901     573    48780     5.0
  88919     573    58559     5.0
  88947     573    74458     4.5), (590,        userId  movieId  rating
  90557     590      356     5.0
  90611     590      903     4.5
  90892     590     2959     3.5
  90997     590     4226     3.5
  91132     590     8636     3.5
  91185     590    48780     3.0
  91210     590    58559     4.5), (600,        userId  movieId  rating
  95170     600      356     4.0
  95543     600     2946     3.5
  95545     600     2959     4.5
  95595     600     3535     3.5
  95632     600     4226     4.0
  95775     600     8636     3.0
  95859     600    58559     3.5), (606,        userId  movieId  rating
  97428     606      356     4.0
  97493     606      903     4.0
  97835     606     2959     5.0
  97902     606     3535     3.0
  97968     606     4226     4.0
  98286     606     8636     2.5
  98427     606    48780     4.0), (15,       userId  movieId  rating
  1445      15      356     5.0
  1479      15     2959     2.5
  1484      15     3535     3.5
  1493      15     4226     1.5
  1516      15    48780     4.5
  1519      15    58559     2.0), (18,       userId  movieId  rating
  1801      18      356     4.5
  1944      18     2959     4.5
  1964      18     4226     4.5
  2087      18    48780     4.5
  2113      18    58559     4.0
  2152      18    74458     4.5), (62,       userId  movieId  rating
  8800      62      356     5.0
  8840      62     2959     5.0
  8903      62     8636     4.0
  8945      62    48780     5.0
  8970      62    58559     5.0
  9003      62    74458     4.0), (80,        userId  movieId  rating
  12560      80     2959     5.0
  12567      80     3535     5.0
  12572      80     4226     5.0
  12628      80    48780     5.0
  12645      80    58559     5.0
  12659      80    74458     4.5), (91,        userId  movieId  rating
  14184      91      356     3.0
  14258      91      903     4.0
  14480      91     2959     4.5
  14517      91     3535     4.0
  14563      91     4226     4.5
  14688      91     8636     5.0), (122,        userId  movieId  rating
  18847     122      356     5.0
  18920     122     2959     5.0
  18934     122     3535     5.0
  19005     122    48780     5.0
  19023     122    58559     4.0
  19047     122    74458     5.0), (211,        userId  movieId  rating
  30184     211      356     4.5
  30212     211     2959     5.0
  30221     211     4226     4.5
  30237     211    48780     4.0
  30244     211    58559     4.5
  30254     211    74458     2.0), (247,        userId  movieId  rating
  36184     247      356     5.0
  36232     247     2959     5.0
  36239     247     4226     4.5
  36273     247    48780     4.5
  36279     247    58559     4.0
  36290     247    74458     4.0), (279,        userId  movieId  rating
  41074     279      356     3.0
  41119     279     2959     3.5
  41125     279     4226     3.0
  41150     279    48780     4.5
  41161     279    58559     4.0
  41178     279    74458     4.0), (282,        userId  movieId  rating
  41475     282      356     4.5
  41571     282     2959     4.5
  41588     282     3535     4.0
  41604     282     4226     4.5
  41672     282    48780     4.5
  41682     282    58559     5.0), (307,        userId  movieId  rating
  46799     307      356     4.0
  47143     307     2959     4.0
  47190     307     3535     5.0
  47244     307     4226     4.0
  47494     307     8636     3.5
  47684     307    58559     4.5), (417,        userId  movieId  rating
  65141     417      356     4.0
  65161     417     2959     5.0
  65162     417     3535     3.0
  65165     417     4226     5.0
  65184     417    58559     4.0
  65186     417    74458     5.0), (419,        userId  movieId  rating
  65312     419      356     4.5
  65357     419     2959     5.0
  65362     419     3535     4.5
  65371     419     4226     3.0
  65417     419    48780     5.0
  65425     419    58559     3.5), (424,        userId  movieId  rating
  65812     424     2959     4.5
  65817     424     3535     3.5
  65822     424     4226     4.5
  65854     424    48780     3.5
  65858     424    58559     3.5
  65864     424    74458     5.0), (432,        userId  movieId  rating
  66817     432      356     4.5
  66893     432     2959     3.5
  66915     432     4226     3.5
  67000     432    48780     4.5
  67010     432    58559     4.0
  67036     432    74458     4.5), (448,        userId  movieId  rating
  68705     448      356     3.0
  69124     448     2959     4.0
  69316     448     4226     4.0
  69618     448     8636     5.0
  69762     448    58559     3.5
  69848     448    74458     4.0), (474,        userId  movieId  rating
  73190     474      356     3.0
  73286     474      903     4.5
  73936     474     2959     4.0
  74251     474     4226     5.0
  74932     474     8636     5.0
  75158     474    48780     4.0), (483,        userId  movieId  rating
  77272     483      356     5.0
  77529     483     2959     4.5
  77597     483     4226     4.0
  77706     483     8636     3.5
  77773     483    48780     5.0
  77804     483    58559     4.0), (484,        userId  movieId  rating
  77968     484      356     5.0
  78070     484     2959     5.0
  78085     484     3535     3.5
  78186     484    48780     1.5
  78198     484    58559     3.5
  78208     484    74458     2.5), (489,        userId  movieId  rating
  78522     489      356     4.0
  78585     489      903     3.5
  78785     489     2959     4.5
  78815     489     3535     2.5
  78856     489     4226     4.5
  79055     489    58559     4.0), (490,        userId  movieId  rating
  79128     490      356     3.5
  79147     490     2959     3.5
  79150     490     4226     4.0
  79183     490    48780     3.5
  79191     490    58559     4.0
  79206     490    74458     3.5), (561,        userId  movieId  rating
  86607     561      356     4.0
  86787     561     2959     4.0
  86910     561     8636     3.5
  86948     561    48780     3.5
  86968     561    58559     5.0
  86991     561    74458     3.0), (567,        userId  movieId  rating
  87797     567      356     3.0
  87804     567      903     0.5
  87843     567     4226     3.5
  87873     567     8636     3.5
  87896     567    48780     3.5
  87911     567    58559     4.0), (570,        userId  movieId  rating
  88254     570      356     4.0
  88284     570      903     2.5
  88366     570     2959     4.0
  88380     570     4226     4.0
  88397     570     8636     3.5
  88404     570    48780     3.5), (599,        userId  movieId  rating
  92769     599      356     3.5
  93545     599     2959     5.0
  93830     599     4226     4.5
  94321     599     8636     3.5
  94590     599    48780     3.0
  94660     599    58559     3.5), (22,       userId  movieId  rating
  3666      22      356     5.0
  3679      22     2959     3.5
  3694      22     4226     3.0
  3747      22    48780     4.0
  3762      22    58559     3.0), (65,       userId  movieId  rating
  9952      65     2959     4.5
  9954      65     4226     4.0
  9964      65    48780     4.5
  9966      65    58559     4.5
  9968      65    74458     4.5), (66,        userId  movieId  rating
  10005      66      356     5.0
  10037      66      903     4.5
  10177      66     2959     5.0
  10225      66     4226     5.0
  10317      66     8636     5.0), (73,        userId  movieId  rating
  11822      73     3535     5.0
  11831      73     4226     4.0
  11853      73     8636     4.0
  11893      73    58559     4.5
  11929      73    74458     4.5), (76,        userId  movieId  rating
  12274      76      356     1.0
  12322      76     2959     4.5
  12324      76     4226     4.5
  12365      76    58559     3.0
  12375      76    74458     4.0), (132,        userId  movieId  rating
  19957     132      356     4.0
  20085     132     2959     4.0
  20125     132     4226     4.0
  20252     132    48780     3.5
  20259     132    58559     3.5), (141,        userId  movieId  rating
  21704     141      356     4.0
  21748     141     2959     5.0
  21757     141     3535     2.5
  21772     141     4226     3.0
  21835     141    58559     5.0), (166,        userId  movieId  rating
  23878     166      356     4.0
  23950     166     2959     4.5
  23974     166     4226     5.0
  24012     166     8636     5.0
  24041     166    48780     2.5), (182,        userId  movieId  rating
  26165     182      356     5.0
  26226     182      903     4.5
  26554     182     2959     5.0
  26641     182     3535     4.5
  26762     182     4226     4.5), (200,        userId  movieId  rating
  28953     200      356     4.0
  29065     200     2959     5.0
  29105     200     4226     4.0
  29181     200     8636     2.5
  29256     200    58559     5.0), (220,        userId  movieId  rating
  32071     220      356     5.0
  32146     220     2959     1.5
  32167     220     4226     5.0
  32203     220     8636     4.5
  32230     220    58559     5.0), (226,        userId  movieId  rating
  33089     226      356     4.0
  33287     226     2959     4.0
  33320     226     3535     4.5
  33482     226     8636     4.0
  33529     226    48780     4.0), (233,        userId  movieId  rating
  34767     233      356     5.0
  34804     233     2959     4.0
  34850     233    48780     3.0
  34858     233    58559     4.5
  34869     233    74458     4.0), (239,        userId  movieId  rating
  35326     239      356     5.0
  35445     239     2959     5.0
  35524     239     8636     4.0
  35557     239    48780     4.0
  35577     239    58559     4.5), (254,        userId  movieId  rating
  37569     254      356     5.0
  37606     254     2959     5.0
  37616     254     4226     4.5
  37641     254     8636     3.5
  37677     254    48780     4.0), (330,        userId  movieId  rating
  50984     330      356     5.0
  51127     330     2959     4.0
  51139     330     3535     3.5
  51152     330     4226     5.0
  51186     330    58559     5.0), (332,        userId  movieId  rating
  51377     332      356     4.5
  51483     332     2959     4.5
  51514     332     4226     5.0
  51585     332    48780     3.5
  51592     332    58559     4.0), (351,        userId  movieId  rating
  53061     351      356     4.5
  53081     351     2959     4.0
  53090     351     4226     4.0
  53130     351    48780     4.0
  53144     351    58559     3.5), (356,        userId  movieId  rating
  53853     356      356     4.0
  53950     356     2959     5.0
  53988     356     4226     5.0
  54045     356     8636     2.5
  54107     356    58559     5.0), (357,        userId  movieId  rating
  54154     357      356     3.5
  54344     357     2959     4.5
  54462     357    48780     4.5
  54478     357    58559     4.5
  54491     357    74458     4.0), (378,        userId  movieId  rating
  56805     378     2959     3.5
  56809     378     4226     3.5
  56822     378    48780     5.0
  56824     378    58559     4.5
  56831     378    74458     4.5), (381,        userId  movieId  rating
  58122     381      356     4.0
  58272     381     2959     5.0
  58317     381     4226     4.5
  58413     381     8636     3.0
  58493     381    48780     4.0), (391,        userId  movieId  rating
  60440     391      356     5.0
  60475     391      903     5.0
  60676     391     2959     4.0
  60712     391     3535     2.0
  60739     391     4226     5.0), (393,        userId  movieId  rating
  60837     393     2959     5.0
  60849     393     4226     5.0
  60877     393     8636     5.0
  60904     393    58559     5.0
  60916     393    74458     0.5), (415,        userId  movieId  rating
  65003     415      356     5.0
  65012     415      903     4.0
  65048     415     2959     5.0
  65059     415     4226     4.5
  65080     415    58559     4.0), (438,        userId  movieId  rating
  67627     438      356     4.0
  67803     438     2959     3.5
  67890     438     4226     4.5
  68119     438     8636     4.5
  68215     438    48780     4.0), (495,        userId  movieId  rating
  79516     495      356     4.0
  79566     495     2959     5.0
  79571     495     3535     4.5
  79673     495    58559     5.0
  79693     495    74458     4.5), (525,        userId  movieId  rating

# 4.3 Calculate Pearson Correlation for Similarity

In [19]:
# Dictionary to store Pearson correlation values
pearsonCorrelationDict = {}

# Calculate similarity between input user and each other user
for name, group in userSubsetGroup:
    # Sort values to align ratings
    group = group.sort_values(by='movieId')
    inputMovies_sorted = userMovies.sort_values(by='movieId')
    
    # Number of common ratings
    nRatings = len(group)
    
    # Extract ratings for common movies
    temp_df = inputMovies_sorted[inputMovies_sorted['movieId'].isin(group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    
    # Compute Pearson correlation
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList), 2) / float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList), 2) / float(nRatings)
    Sxy = sum(i * j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList) * sum(tempGroupList) / float(nRatings)
    
    # Calculate correlation coefficient
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy / sqrt(Sxx * Syy)
    else:
        pearsonCorrelationDict[name] = 0

# Convert to DataFrame
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.405554     105
1         0.303046     249
2         0.441942     274
3        -0.044544     610
4        -0.834036      68

# 4.4 Select Most Similar Users

In [20]:
# Select top 50 most similar users
similarUsers = pearsonDF.sort_values('similarityIndex', ascending=False)[0:50]
similarUsers.head()

# Merge with ratings to get their movie preferences
similarUsers = pd.merge(similarUsers, ratings_df)
similarUsers.head()

   similarityIndex  userId  movieId  rating
0              1.0      64        1     4.0
1              1.0      64        3     3.5
2              1.0      64        6     4.5
3              1.0      64       16     5.0
4              1.0      64       19     3.5

 # 4.5 Calculate Weighted Ratings

In [21]:
# Apply similarity score as weight to ratings
similarUsers['weightedRating'] = similarUsers['similarityIndex'] * similarUsers['rating']
similarUsers.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0      64        1     4.0             4.0
1              1.0      64        3     3.5             3.5
2              1.0      64        6     4.5             4.5
3              1.0      64       16     5.0             5.0
4              1.0      64       19     3.5             3.5

# 4.6 Generate Collaborative Recommendations

In [22]:
# Aggregate weighted ratings by movie
tempSimilarUsers = similarUsers.groupby('movieId')[['similarityIndex', 'weightedRating']].sum()

# Calculate weighted average scores
recommendation2_df = pd.DataFrame()
recommendation2_df['weightedAverageScore'] = tempSimilarUsers['weightedRating'] / tempSimilarUsers['similarityIndex']
recommendation2_df['movieId'] = tempSimilarUsers.index
recommendation2_df.head()

# Sort by highest weighted average score
recommendation2_df = recommendation2_df.sort_values('weightedAverageScore', ascending=False)[0:50]
recommendation2_df.head()

         weightedAverageScore  movieId
movieId
3435                      5.0     3435
170705                    5.0   170705
71131                     5.0    71131
5889                      5.0     5889
5888                      5.0     5888

# 4.7 Display Top Collaborative Recommendations

In [23]:
# Show top 10 collaborative recommendations
top_collab_movies = movies_df.loc[movies_df['movieId'].isin(recommendation2_df.head(10)['movieId'].tolist())]
print(f"Top {len(top_collab_movies)} Collaborative Filtering Recommendations:")
top_collab_movies[['title', 'genres', 'year']]

Top 10 Collaborative Filtering Recommendations:

                                    title                       genres  year
1531                      Out of the Past                  [Film-Noir]  1947
2568                     Double Indemnity    [Crime, Drama, Film-Noir]  1944
2639         All the Vermeers in New York     [Comedy, Drama, Romance]  1990
4108                       Brother (Brat)               [Crime, Drama]  1997
4109  Cruel Romance, A (Zhestokij Romans)             [Drama, Romance]  1984
7123    Most Hated Family in America, The                [Documentary]  2007
8813  George Carlin: Life Is Worth Losing                     [Comedy]  2005
8815                     Love and Pigeons            [Comedy, Romance]  1985
9317            The Bremen Town Musicians  [Animation, Drama, Fantasy]  1969
9497                     Band of Brothers         [Action, Drama, War]  2001

# 5. Results Comparison<a id="5-results-comparison"></a>

## Content-Based Filtering Results:
### Approach: 
Based on movie attributes (genres)
### Strengths:
Good for new items, no cold start for items, transparent recommendations
### Recommendations:
Focus on movies with similar genre combinations to user's preferences

## Collaborative Filtering Results:
### Approach: 
Based on user behavior and similar users' preferences

### Strengths: 
Can find unexpected recommendations, works well with diverse tastes

### Recommendations:
Based on what similar users liked, even if genres differ